<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/style.css" />
    <title>HodlInfo</title>
  </head>
  <body>
    <div class="container">
      <h1>Top 10 Results from the API</h1>
      <table class="table">
        <thead>
          <tr>
            <th>Name</th>
            <th>Last Traded</th>
            <th>Buy</th>
            <th>Sell</th>
            <th>Volume</th>
            <th>Base Unit</th>
          </tr>
        </thead>
        <tbody>
          <% for (let data of result) { %>
          <tr>
            <td><%= data.name %></td>
            <td><%= data.last %></td>
            <td><%= data.buy %></td>
            <td><%= data.sell %></td>
            <td><%= data.volume %></td>
            <td><%= data.base_unit %></td>
          </tr>
          <% } %>
        </tbody>
      </table>
    </div>
  </body>
</html>
